div {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
  overflow-x: auto;
}

.go-back-button {
  margin-left: 10px;
  margin-right: 10px;

  cursor: pointer;
}

.go-back-text {
  font-size: 24px;
}

.navbar {
  display: flex;
  align-items: center;
}

.table-wrapper {
  margin: 10px;
  max-width: 20%;
}

.table {
  margin: 10px;
  background-color: #222222;
}

.tablle-header {
  text-align: center;
}

.table-header, .table-cell {
  padding: 10px;
  color: white;
}