<mat-toolbar>
  <button mat-icon-button routerLink="/" routerLinkActive="active">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span>| All Poets</span>
</mat-toolbar>

<table mat-table [dataSource]="poets">
  <!-- Id column -->
  <ng-container matColumnDef="id">
    <th class="table-header" mat-header-cell *matHeaderCellDef>ID</th>
    <td class="table-cell" mat-cell *matCellDef="let poet">
      {{ poet.id }}
    </td>
  </ng-container>

  <!-- Name column  -->
  <ng-container matColumnDef="name">
    <th class="table-header" mat-header-cell *matHeaderCellDef>Name</th>
    <td class="table-cell" mat-cell *matCellDef="let poet">
      {{ poet.name }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
