div {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.go-back-button {
  margin-left: 10px;
  margin-right: 10px;

  cursor: pointer;
}

.go-back-text {
  font-size: 24px;
}

.navbar {
  display: flex;
  align-items: center;
}